body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    
}
.container1{
    margin: 0;
    background: rgb(183,61,24);
background: linear-gradient(0deg, rgba(183,61,24,1) 76%, rgba(247,242,242,1) 77%);
}
.backimg{
    background: url(images/paysage2.png) 1% no-repeat ;
    background-size: 101%;
    height: 100%;
}

.header{
    background-color: #f7f2f2;
    display: flex;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2.5%;
    padding-bottom: 1%;
    width: 100%;
   
}
.headercontent{
list-style: none;
display: flex;
justify-content: flex-end;
width: 100%;
}
/* HEADER */
.headercontent li{
    margin-left: 2.5%;
   
}

.headercontent li a {
 text-decoration: none;
 color: rgb(0, 0, 0);
 font-weight: 700;
}

.headercontent li a:hover {
    color: rgb(184, 81, 12);
   }

.title a{
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-decoration: none;
    font-weight: 600;
}
.section{
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aze{
    display:block;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
}

.profilepicture{
    width: 200px;
    height:200px ;
}

.me{
    margin-top: 4%;
    animation-name: bounce;
    animation-duration: 2.5s;
}

.landscapeimg{
    width: 100%;
}

.welcomemessage{
   text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;
    animation-name: welcomemsg;
    animation-duration: 2.5s;
}

@keyframes welcomemsg{
    0% {
        transform: translateX(-60rem);
    }
    100%{
        transform: translateX(0rem);
    }
}

.welcomemessage h1{
    font-size: 290%;
    font-weight: 900;
}

.footer{
    background-color: #b73d18;
    border:1px #b73d18 solid;
    height: 100px;
    display: flex;
    padding:3% ;
}

.icon{
    display: flex;
    margin: auto;
    font-size: 35px;
}

.icon-space a{
    color: #000;
    margin: 30px;
}
.icon-space a:hover{
    color: #471708;
}

/* ABOUT ME */
#aboutme{
    color: black;
    width: 60%;
    padding: 5%;
    text-align: justify;
    display: flex;
    margin: auto;
    justify-content: center;
}

.text-aboutme{
    width: 85%;
}
.text-aboutme h2{
    margin-bottom: 4%;
}

.text-aboutme p{
    font-size: 18px;
    margin-bottom: 5%;
    
}


@keyframes bounce{
    0%{
        transform: scale(0);
    }
   
    100%{
        transform: scale(1);
    }
}

.cv{
    outline: none;
    border: 1px black ;
    border-radius: 5px;
    padding: 2%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: black;
}
.cv:hover{
    background-color: rgb(71, 23, 0);
    transition: all 1s;
}

.cv a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.cv a:hover{
    color: rgb(255, 255, 255);
}

/* PROJECTS */

#projects{
    color: black;
    padding: 5%;
    text-align: center;
    align-items: center;
    background-color: #b73d18;

}

#projects h2{
    margin-bottom: 5.5%;
}
.projects-items{
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-column-gap: 10px;
    grid-row-gap: 4.4em;
    justify-content: center;
}

.card-container_select{
    opacity: 0.9;
    margin: auto;
}

.reveal{
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible{
    opacity: 1;
    transform: translateY(0);
    transition: .7s;
}

.card-container_select:hover{
    opacity: 1;
    margin-top:-5%;
}

.card-container_select a{
    text-decoration: none;
    color: black;
}

.card-container_select a:hover{
    color: black;
}

.card img{
    height: 180px;
}

.card-body{
    background-color: black;
    color: #fff;
    opacity: 0.9;
}
.soon-msg{
    display: none;
}
@media (max-width: 753px){
    /* body{
        margin: auto;
        display: block;
        justify-content: center;
        
    }
    */
    .soon {
       animation-name: soon;
       animation-iteration-count: infinite;
       animation-duration: 2S;
    }

    .soon-msg{
        display: flex;
        color: rgb(165, 60, 0);
        position: absolute;
        top: 0;
        left: 15%;
        right: 0;
        bottom: 0;
        width: 300px;
        height: 300px;
        margin: auto;
    }
    .soon-msg p{
        font-size: 40px;
        font-weight: bold;
        
    }

    /* section:nth-child(1){
        display: none;
    } */
    /* section:nth-child(2){
        display: none;
    }

    section:nth-child(3){
        display: none;
    } */


    @keyframes soon {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 0;
        }
    }

    }